.vscode/
*/__pycache__/
Models/
Temp/
single_audio_outputs/
speaker_encoder_outputs/
cleese_outputs/
infer_outputs/
test*.py
temp*.py
.hypothesis/
diarization/nemo_config/
diarization/nemo_outputs/
/workspace/speech-augmentation/Tools/__pycache__/
/workspace/speech-augmentation/Tools/asr/__pycache__/
/workspace/speech-augmentation/Tools/asr/wer_sclite/__pycache__/

